.poster-img {
    width: 220px;       /* Tetap, kecil */
    height: auto;       /* Otomatis menyesuaikan tinggi */
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    display: block;
}
