/* .org-scroll-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding: 16px;
  }
  
  .org-scroll-container::-webkit-scrollbar {
    height: 12px;
  }
  
  .org-scroll-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
  }
  
  .org-scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .struktur-item {
    display: inline-block;
    width: 220px;
    margin-right: 16px;
    text-align: center;
  }
  
  .struktur-item img {
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
   */